<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShortifyMe</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <div class="header-container">
            <a href="index.html">
                <h1>ShortifyMe</h1>
            </a>
        </div>
        <p>Bienvenido a la versión beta de ShortifyMe. Si detecta algún problema o error, no dude en crear un problema en Github.</p>
    </header>
    <main>
        <h2>Mejore su gestión de enlaces</h2>
        <p>ShortifyMe es una plataforma de código abierto que te permite crear, administrar y compartir enlaces cortos con facilidad.</p>
        <p>Es rápido, seguro y fácil de usar.</p>
        <div class="buttons">
            <a href="links.html" class="btn primary">Crear link</a>
            <a href="#" class="btn secondary">Empezar</a>
        </div>
    </main>
</body>
</html>
