<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Inicio</title>
</head>
<body>
    <header>
        <h1>Bienvenido a mi página web</h1>
    </header>
    <nav>
        <a href="#home">Inicio</a>
        <a href="#about">Acerca de</a>
        <a href="#services">Servicios</a>
        <a href="#contact">Contacto</a>
        <a href="{% url 'user:login' %}">Login</a>
        <a href="{% url 'cards:createcard' %}">Create</a>
    </nav>
    <main>
        <section id="home">
            <h2>Inicio</h2>
            <p>Esta es la sección de inicio de nuestra página web. Aquí puedes encontrar la información más reciente y relevante.</p>
        </section>
        <section id="about">
            <h2>Acerca de</h2>
            <p>En la sección Acerca de, proporcionamos información sobre nuestra empresa y nuestra misión.</p>
        </section>
        <section id="services">
            <h2>Servicios</h2>
            <p>Descubre los servicios que ofrecemos para ayudarte a alcanzar tus objetivos.</p>
        </section>
        <section id="contact">
            <h2>Contacto</h2>
            <p>Si deseas ponerte en contacto con nosotros, aquí encontrarás nuestras formas de contacto.</p>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 Mi Página Web. Todos los derechos reservados.</p>
    </footer>
</body>
</html>