<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShortifyMe - Iniciar Sesión</title>
    <link rel="stylesheet" href="styles/login-styles.css">
</head>
<body>
    <header>
        <div class="header-container">
            <a href="Home.html">
                <h1>ShortifyMe</h1>
            </a>
        </div>
    </header>
    <main>
        <div class="login-container">
            <img src="images\link.png" alt="ShortifyMe Logo" class="logo">
            <h2>Iniciar sesión en ShortifyMe</h2>
            <p>Inicie sesión con su proveedor social favorito para comenzar:</p>
            <div class="buttons">
                <a href="#" class="btn google"> <img src="https://img.icons8.com/color/16/000000/google-logo.png"/> Continuar con Google</a>
                <a href="#" class="btn github"> <img src="https://img.icons8.com/ios-glyphs/16/000000/github.png"/> Continuar con GitHub</a>
            </div>
        </div>
    </main>
</body>
</html>
